/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

h1, h2 {
    color: white; /* Real Madrid Blue */
    text-align: center;
    margin-bottom: 20px;
}

/* Header */
header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
.section {
    padding: 50px 0;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.section img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #1812c4;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1.2em;
}
